name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ] 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Instalar dependências
        run: flutter pub get

      - name: Rodar Testes
        run: flutter test # Roda sempre (PR e Push)

      - name: Build APK Release
        if: github.event_name == 'push' # Só roda no Merge/Push direto na main
        run: flutter build apk --release

      - name: Salvar APK como Artefato
        if: github.event_name == 'push' # Só gera o arquivo para download na main
        uses: actions/upload-artifact@v4
        with:
          name: Alembro-Release
          path: build/app/outputs/flutter-apk/app-release.apk